﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Menu.js")"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span style="font-size:30px;cursor:pointer" class="navbar-brand" id="menu-toggle" onclick="openNav()">Menü</span>

                <img src="~/fonts/kodkurdu.gif" width="100" height="50" />

            </div>
            <div class="navbar-collapse collapse col-md-3">

                <marquee width="32%" bgcolor="#ffffff" direction="right" scrollamount="4">
                    <font color="#ff0000" size="6">Hoş Geldiniz</font>
                </marquee>
                <div class="nav navbar-nav navbar-right col-sm-4">
                    <div class="nav navbar-nav">

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DIL<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li> @Html.ActionLink("TR", "DilBilgisi", "Home", new { dil = "tr", sayfa = this.Request.RawUrl }, null)</li>
                                <li> @Html.ActionLink("EN", "DilBilgisi", "Home", new { dil = "en", sayfa = this.Request.RawUrl }, null)</li>
                            </ul>
                        </div>
                        @*<li> @Html.ActionLink(egitimsitesi.Resources.dil.Dil,"Index","Dil")</li>*@
                    </div>
                    <div class="col-sm-4">
                        @*<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Ara</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Search for...">
                            </div>*@
                        @using (Html.BeginForm("Index","Home",FormMethod.Get))
                        {
                            @Html.TextBox("Arama")
                            <input type="submit" value="Ara" />
                        }
                    </div>

                </div>
                @Html.Partial("_LoginPartial")
                <br />
            </div>

        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <br />
        <br />
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <span class="glyphicon glyphicon-home">@Html.ActionLink(egitimsitesi.Resources.dil.AnaSayfa, "Index", "Home")</span>
        <br />
        
        <span class="glyphicon glyphicon-eye-open">@Html.ActionLink("C++", "Cplusplus", "Kullanici")</span>
        <br />
        <span class="glyphicon glyphicon-eye-open">@Html.ActionLink("C", "C", "Kullanici")</span>
        <br />
        <span class="glyphicon glyphicon-eye-open">@Html.ActionLink("C#", "Csharp", "Kullanici")</span>
        <br />
        
        <span class="glyphicon glyphicon-eye-open">@Html.ActionLink("Java", "Java", "Kullanici")</span>
        <br />
        <span class="glyphicon glyphicon-eye-open">@Html.ActionLink(egitimsitesi.Resources.dil.Sohbet, "Chat", "Home")</span>
        <br />

        <span class="glyphicon glyphicon-envelope">@Html.ActionLink(egitimsitesi.Resources.dil.İletişim, "Contact", "Home")</span>
        <br />
        <span class="glyphicon glyphicon-envelope">@Html.ActionLink(egitimsitesi.Resources.dil.Hakkında, "About", "Home")</span>
        <br />
    </div>
    <div class="container body-content">
        <object type="application/x-shockwave-flash" width="150" height="30" data="https://www.youtube.com/v/95j3PB3ahw0?version=2&autoplay=1&loop=1&theme=dark"><param name="movie" value="https://www.youtube.com/v/95j3PB3ahw0?version=2&autoplay=1&loop=1&theme=dark" /><param name="wmode" value="transparent" /></object>
        @RenderBody()
        <hr />
        <footer>
            <div class="panel panel-default">
                <p style="margin:0;">&nbsp; &copy; @DateTime.Now.Year Eğitim Sitesi &nbsp; &nbsp; <button class="btn btn-facebook"><i class="fa fa-facebook"></i>Facebook</button> <button class="btn btn-twitter"><i class="tw tw-twitter"></i>Twitter</button></p>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (ViewBag.Message != null)
    {
        <script>

            $(document).ready(function(){

            alert('@ViewBag.Message');

            });

        </script>

    }
    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    </script>
</body>
</html>
