﻿@model egitimsitesi.Models.Kodlama

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kodlama</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StringArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StringArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minStringArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minStringArea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodlamaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
