﻿@model IEnumerable<egitimsitesi.Models.Kodlama>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StringArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minStringArea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StringArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minStringArea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodlamaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KodlamaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KodlamaID })
        </td>
    </tr>
}

</table>
