﻿@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sakarya Serdivan Esentepe Kampüsü
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:destek@gmaıl.com">destek@gmail.com</a><br />
    <strong>Admin:</strong> <a href="mailto:ahmet@gmail.com">ahmet@gmail.com</a>
</address>