﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h2>C</h2>
    @ViewBag.c
</div>
<div class="jumbotron">
    <h2>C++</h2>
    @ViewBag.cpp
</div>
<div class="jumbotron">
    <h2>C#</h2>
    @ViewBag.csharp
</div>
<div class="jumbotron">
    <h2>Java</h2>
    @ViewBag.java
</div>
<div class="row">
    <div class="w3-content w3-section col-md-12" style="max-width:500px">
        <img class="mySlides" src="~/Pictures/1.jpg" style="width:100%">
        <img class="mySlides" src="~/Pictures/2.jpg" style="width:100%">

    </div>
   
</div>