﻿
@{
    ViewBag.Title = "C";
}

<h2>C</h2>
<div class="alert alert-success">
    @ViewBag.c
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2NWeucMKrLI?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq" frameborder="0" allowfullscreen></iframe>
    <br />
</div>

