﻿
@{
    ViewBag.Title = "Cplusplus";
}

<h2>C++</h2>
<div class="alert alert-success">
    @ViewBag.cpp
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tvC1WCdV1XU?list=PLAE85DE8440AA6B83" frameborder="0" allowfullscreen></iframe>
    <br />
</div>
