﻿
@{
    ViewBag.Title = "Csharp";
}

<h2>C#</h2>
<div class="alert alert-success">
    @ViewBag.csharp
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GGXE44ucqCE?list=PLKnjBHu2xXNPkeQtMOJczzEO6LK5OV35K" frameborder="0" allowfullscreen></iframe>
    <br />
</div>
