﻿@model egitimsitesi.Models.Kullanici

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isimvesoy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isimvesoy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.il)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.il)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonNumarasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonNumarasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dgmTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dgmTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hatirla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hatirla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kodlama.StringArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kodlama.StringArea)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
