﻿@model egitimsitesi.Models.Kullanici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isimvesoy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isimvesoy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.il)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.il)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonNumarasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonNumarasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dgmTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dgmTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hatirla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hatirla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kodlama.StringArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kodlama.StringArea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KullaniciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
