﻿@model IEnumerable<egitimsitesi.Models.Kullanici>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isimvesoy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.il)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonNumarasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dgmTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hatirla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kodlama.StringArea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isimvesoy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.il)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonNumarasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dgmTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hatirla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kodlama.StringArea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KullaniciID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KullaniciID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KullaniciID })
        </td>
    </tr>
}

</table>
