﻿
@{
    ViewBag.Title = "Java";
}

<h2>Java</h2>
<div class="alert alert-success">
    @ViewBag.java
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hl-zzrqQoSE?list=PLFE2CE09D83EE3E28" frameborder="0" allowfullscreen></iframe>
    <br />
</div>
